@import url('https://fonts.googleapis.com/css?family=Roboto|Zilla+Slab&display=swap');

// Modules and Variables
@import "./scss/variables";
@import "./scss/base";

// Partials
@import "./scss/vehicles";

body {
	font-family: 'Roboto', sans-serif;
	font-size: $base-font-size;
	color: $base-font-color;
	background-color: $bg-colour;
	line-height: 1.6;
}
